asgiref==3.12.1
Django==5.2.17
django-bootstrap5==26.3
djangorestframework==3.18.1
gunicorn==26.2.0
platformshconfig==2.4.0
psycopg==3.3.5
psycopg-binary==3.3.5
pyasn1==0.6.4
pysnmp==7.1.29
python-dotenv==1.2.3
sqlparse==0.6.0
typing_extensions==4.16.0
