<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Network Monitoring Dashboard</title>

    {% load django_bootstrap5 %}
    {% bootstrap_css %}
</head>

<body class="bg-light">

    <nav class="navbar navbar-dark bg-dark mb-4">
        <div class="container">
            <span class="navbar-brand mb-0 h1">
                Network Monitoring Dashboard
            </span>
        </div>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    {% bootstrap_javascript %}
</body>
</html>
